// ---------- LEMON MILK ----------
@font-face {
    font-family: "Lemon Milk Regular";
    src: url(../../fonts/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: "Lemon Milk Light";
    src: url(../../fonts/LEMONMILK-Light.otf);
}

// ---------- POPPINS ----------
@font-face {
    font-family: "Poppins Regular";
    src: url(../../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins Light";
    src: url(../../fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: "Poppins Bold";
    src: url(../../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins Bold";
    src: url(../../fonts/Poppins-Medium.ttf);
}