// ---------- COLORS ----------

$white: #FFF;
$green: #5EE22D;


// ---------- FONTS ----------

// ---------- LEMON MILK ----------
$titleFont: "Lemon Milk Regular";
$lightTitleFont: "Lemon Milk Light";

// ---------- POPPINS ----------
$mainFont: "Poppins Regular";
$boldFont: "Poppins Bold";
$lightFont: "Poppins Light";
$mediumFont: "Poppins Medium";